# /etc/rancher/rke2/config.yaml on worker/agent nodes.
server: "https://10.20.0.10:9345"
token: "REPLACE_FROM_VAULT"

node-label:
  - "node.secops.io/role=worker"
  - "topology.kubernetes.io/zone=dev-zone-a"
